<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        
        <p>Sign up or login</p>
        <a href="/users/signup" class="btn btn-primary btn-block mb-2"
          >Sign Up Now!</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>